
.navbar {
	padding: 8px;
}

.nav-left {
  width: 50%;
  float: left;
	
}
.nav-right {
	text-align: right;
  width: 50%;
  display: inline-block;
}

#sidebarContainer {
	min-height: 800px;
	background-color: #f0f0f0;
	padding: 10px;
  width: 50%;
  float: left;
}

#mainContent {
  display: inline-block;
  width: 50%;
  padding: 0px 15px 0px 15px;
}

#mainContent [contenteditable="true"] {
	background-color: #f0f0FF;
}

#songBodyText, #songBodyInput, #songTitleInput {
  font-family: Courier, monospace;
  font-size: 1.6em;
}

#songBodyInput {
  width: 100%;
  height: 100%;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:HOVER {
	background-color: #f0f0f0;
}

#sidebarContainer .panel-group {
}

body {
}

h1, p {
}

