
.navbar {
	padding: 8px;
}

.nav-left {
  float: left;
	
}
.nav-right {
	text-align: right;
  display: inline-block;
  float: right;
}

#sidebarContainer {
	background-color: #f0f0f0;
	padding: 10px;
  width: 55%;
  float: left;
}

#allSongsContainer, #allSetsList, #setList, #setContentContainer, #songBodyText {
	overflow: auto;
}

.large-font {
	font-size: 1.2em;
}

#manageContainer button {
  width: 130px;
}
#versionLabel {
	display: inline-block;
}
#manageContainer div {
  margin-top: 7px;
}
#manageContainer span, #manageContainer a, #manageContainer input {
  margin: 10px;
}
 

#mainContent {
  display: inline-block;
  width: 45%;
  padding: 0px 15px 0px 15px;
}

.container-fluid {
	padding: 0px;
}

.toright {
	float: right;
}

#songBodyText, #songBodyInput, #songTitleInput {
  font-family: Courier, monospace;
  font-size: 1.6em;
}

#songBodyInput {
  width: 100%;
}

#editToolBar {
	padding: 5px;
	background-color: #f0f0f0;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:HOVER {
	background-color: #f0f0f0;
}

#sidebarContainer .panel-group {
}

#setContentContainer {
	overflow: auto;
	padding: 5px;
	border: 1px solid #c8c8c8;
}

.orderedList {
	counter-reset: setCounter;
}

li[data-mark="1"] {
	background-color: #e8e8e8; 
}

.orderedList li:before {
	content: counter(setCounter) ". ";
	counter-increment: setCounter;
}

body {
}

h1, p {
}

@media (max-width: 767px) {
	.button-text {
	 display: none;
	}
}

