
.navbar {
	padding: 8px 8px 8px 0px;
}

.nav-left {
  float: left;
}
.menuLine {
	border-top: 2px solid #a0a0a0;
	padding-bottom: 3px;
	width: 12px;
	display: block;
}

#sidebarToggle {
	padding-top: 6px;
	display: inline-block;
	width: 25px;
  cursor: pointer;  
}

#titleLink {
  display: inline-block;
  float: right;
  padding: 5px 6px 6px 0px;
  color: #a0a0a0;
  font-size: 1.15em;
  cursor: pointer;	
}
#titleLink:hover {
	text-decoration: none;
}

.nav-right {
	text-align: right;
  display: inline-block;
  float: right;
}

#sidebarContainer {
	background-color: #f0f0f0;
	padding: 10px;
  width: 55%;
  float: left;
  position: absolute;

  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#mainContent {
  display: inline-block;
  width: 45%;
  padding: 0px 15px 0px 15px;
  position: absolute;
  
  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#allSongsContainer, #allSetsList, #setList, #setContentContainer, #songBodyText {
	overflow: auto;
}

.large-font {
	font-size: 1.2em;
}

#manageContainer button {
  width: 130px;
}
#versionLabel {
	display: inline-block;
}
#manageContainer div {
  margin-top: 7px;
}
#manageContainer span, #manageContainer a, #manageContainer input {
  margin: 10px;
}
 


.container-fluid {
	padding: 0px;
}

.toright {
	float: right;
}

#songBodyText, #songBodyInput, #songTitleInput {
  font-family: Courier, monospace;
  font-size: 1.6em;
}

#songBodyInput {
  width: 100%;
}

#editToolBar {
	padding: 5px;
	background-color: #f0f0f0;
}

#insertSpaceButton {
	margin-left: 8px;
	margin-right: 8px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:HOVER {
	background-color: #f0f0f0;
}

#sidebarContainer .panel-group {
}

#setContentContainer {
	overflow: auto;
	padding: 5px;
	border: 1px solid #c8c8c8;
}

.orderedList {
	counter-reset: setCounter;
}

li[data-mark="1"] {
	background-color: #e8e8e8; 
}

.orderedList li:before {
	content: counter(setCounter) ". ";
	counter-increment: setCounter;
}

body {
}

h1, p {
}

@media (max-width: 767px) {
	.button-text {
	 display: none;
	}
}

